h1{
    font-size: 36px;
    color: white;
}

h2{
    font-size: 32px;
    color: white;
}

p{
    font-size: 14px;
    color: white;
}

.txtCenter {
    text-align: center;
  }

.txtGrayLight {
    color: #9c9c9c !important;
  }

.txtGrayDark {
    color: #3b3b3b !important;
  }

.italics {
    font-style: italic;
}
