h1{
    font-size: 34px;
    color: white;
}

h2{
    font-size: 30px;
    color: white;
}

p{
    font-size: 14px;
    color: white;
}

.txtCenter {
    text-align: center;
  }

.txtGrayLight {
    color: #f6f6f6 !important;
  }

.txtGrayDark {
    color: #2b2b2b !important;
  }

.italics {
    font-style: italic;
}

a{
  color: black !important;
  text-decoration: none !important;
}
