.AddProduct{
    margin-left: 10%;
    margin-top: 40px;
    width: 90%;
    height: 130px;
    text-align: center;
    padding-top: 45px;
    font-style: italic;
    background-color: $primary_dark;
    color: black;
}

.Product{
    width: 99%;
    margin: 0 auto;
    height: 60px;
    background-color: white;
    margin-top: 10px;
}