.AllProductSubSec{
    padding-left: 25vh;
    padding-right: 25vh;
    padding-top: 5vh;
    padding-bottom: 5vh;
    height: max-content;
    text-align: center;
    background-color: white;
    color: black !important;
    box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.10);
}

.FilterSec{
    height: 250vh !important;
}

.FilterBlock{
    margin: 0 auto;
    margin-top: 40px;
    width: 80%;
    height: 450px;
    background-color: white;
    box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.10);
}

.Products{
    height: 250vh !important;
    padding-top: 30px;
}

.SortSec{
    height: 50px !important;
    display: flex;
    color: black !important;
}

.Sort_By{
    margin-left: 20%;
    padding-top: 18px;
    font-size: 18px;
    color: black !important;
}

.Sort_Num{
    padding-top: 18px;
    color: black !important;
}

.SortBlock{
    width: 200px;
    height: 35px;
    margin-top: 12px !important;
    margin-left: 40px;
    border: 1px solid #fff;
    padding-right: 5px;
    background-color: white !important;
    box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.10);
}
