.CartConParent {
  background-color: #f2f2f2;
  height: 96vh;
}

.CartContainer {
  margin: 0 auto;
  // margin-top: 3vh;
  width: 95%;
  height: 90vh;
  background-color: $secondary_vanilla;
}

.UserDetailsCon {
  margin-top: 4vh;
  width: 96%;
  height: 82vh;
  overflow-y: auto;
}

.UserDetails {
  height: 1000px;
  background-color: $primary_dark !important;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: space-around;
  align-content: stretch;
  align-items: center;
}

.UserDetails h1 {
  font-size: 48px;
  color: white;
}

.Details {
  width: 80%;
  height: 35px;
  border-bottom: 2px solid white;
}

.CardImage {
  width: 95%;
  height: 250px;
  background-image: url("../../img/Card.png");
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}

.Button-Checkout {
  width: 80%;
  height: 60px;
  background-color: $red;
  border: none;
  font-size: 24px;
  font-weight: bold;
  font-style: italic;
  color: white;
}

.CartProducts {
  width: 90%;
  height: 65vh;
  margin-left: 10%;
  margin-top: 4vh;
  overflow-y: auto;
}

.CartInfo {
  width: 95%;
  margin-left: 5%;
  padding-top: 5%;
}

.ContShopping {
  width: 50%;
  height: 30px;
  float: left;
  color: black;
  font-style: italic;
  font-size: 18px;
  display: flex;
  cursor: pointer;
}

.ContShopping:hover {
  text-decoration: underline;
}

.CartInfo p {
  width: 45%;
  height: 30px;
  float: left;
  color: black;
  font-style: italic;
  font-size: 18px;
  text-align: right;
}
