.SliderSec{
    background-color: $primary_dark;
}

.SliderSubSec{
    padding-left: 8vh;
    padding-top: 11vh;
    height: 43vh;
}

.Slider{
    padding: 2% !important;
}

.ImageCon{
    margin: 0 auto;
    height: 90%;
    width: 55%;
    background-color: white !important;
}

.ImageConDots{
    margin: 0 auto;
    height: 10%;
    width: 55%;
    background-color: gray !important;
}