.SliderSec{
    background-color: $primary_dark;
}

.SliderSubSec{
    padding-left: 8vh;
    padding-top: 11vh;
    height: 43vh;
}

.Slider{
    padding: 2% !important;
}

.ImageCon{
    margin: 0 auto;
    height: 30vh;
    width: 385px;
    max-width: 385px;
    position: relative;
    overflow: hidden;
}

.ImageConDots{
    margin: 0 auto;
    padding-top: 15px;
    height: 10%;
    width: 55%;
    background-image: url(../../img/Test_1.png);
    display:flex;
    justify-content: center;
}

.SliderImage{
    height: 30vh;
    width: 385px;
    background-image: url(../../img/Test_1.png);
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
}

.slide {
    width: 100%;
    height: 100%;
    position: absolute;
    opacity: 0;
    display: none !important;
    transition: opacity ease-in-out 0.2s;
  }
  
  .slide img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  .active-anim {
    opacity: 1;
    display: block !important;
  }
  
  .btn-slide {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background: #f1f1f1;
    border: 1px solid rgba(34, 34, 34, 0.287);
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
  }
  
  .btn-slide img {
    width: 25px;
    height: 25px;
  }

  .prev {
    top: 50%;
    left: 20px;
    transform: translateY(-60%);
  }

  .next {
    top: 50%;
    right: 20px;
    transform: translateY(-60%);
  }
  
  .container-dots {
    position: absolute;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
  }

  .dot {
    width: 8px;
    height: 8px;
    border-radius: 50%;
    margin: 0 10px;
    background: #ffffff;
  }

  .dot.active {
    background-color: $red;
  }