.SliderSec{
  background-color: $primary_dark;
  background-color: white;
  // background-image: linear-gradient(to left, #ffffff 80%, $primary_dark 80%);
  box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.10);
}

.SliderSubSec{
    padding-left: 8vh;
    padding-top: 12vh;
    height: max-content;
}

.SliderSubSecRight{
  padding-left: 8vh;
  padding-top: 10vh;
  background-color: #ffffff !important;
  height: max-content;
}

.SliderSubSecPar{
  width: 85%;
  color: black;
}

.heading{
  color: black !important;
}

.Slider{
    padding: 2% !important;
}

.ImageCon{
    margin: 0 auto;
    height: 30vh;
    width: 385px;
    max-width: 385px;
    position: relative;
    overflow: hidden;
}

.ImageConDots{
    margin: 0 auto;
    padding-top: 15px;
    height: 10%;
    width: 55%;
    display:flex;
    z-index: 999;
    justify-content: center;
}

.SliderImage{
    height: 32vh;
    width: 385px;
    // background-image: url('../../img/Canon\ EF\ 200mm\ f2\ L\ IS\ USM\ Lens.png');
    background-position: center;
    background-size: 50%;
    background-repeat: no-repeat;
    text-align: center;
    color: black;
}

.slide {
    width: 100%;
    height: 100%;
    position: absolute;
    opacity: 0;
    transition: opacity ease-in-out 0.5s;
  }

  .slide img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  .active-anim {
    opacity: 1 !important;
  }
  
  .btn-slide {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
  }
  
  .btn-slide img {
    width: 25px;
    height: 25px;
  }

  .prev {
    top: 50%;
    left: 20px;
    transform: translateY(-60%);
    background-image: url('../../img/BackArrow.png');
    background-position: center;
    opacity: 15%;
    background-repeat: no-repeat;
    background-size: contain;
  }

  .next {
    top: 46%;
    right: 20px;
    transform: translateY(-60%);
    background-image: url('../../img/BackArrow.png');
    background-position: center;
    opacity: 15%;
    background-repeat: no-repeat;
    background-size: contain;
    transform: scaleX(-1);
  }
  
  .container-dots {
    position: absolute;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
  }

  .dot {
    width: 6px !important;
    height: 6px !important;
    border-radius: 50%;
    margin: 0 15px;
    background: #d4d4d4;
    cursor: pointer;
  }

  .dot.active {
    background-color: $red;
  }


.brandImgOne{
  width: 300px;
  height: 300px;
  margin-left: 30px;
  margin-right: 30px;
  margin-bottom: 50px;
  background-color: white;
  // box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.25);
}

.Nikon{
  background-image: url('../../img/nikon-logo-removebg-preview.png');
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}

.Canon{
  background-image: url('../../img/canon-logo-removebg-preview.png');
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}

.Sony{
  background-image: url('../../img/sony-logo-removebg-preview.png');
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}